<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hink.hinkling"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.hink.hinkling.backend.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature android:name="android.hardware.camera" />

    <permission
        android:name="com.hink.hinkling.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hink.hinkling.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:permission="com.hink.hinkling.LAUNCHACTIVITY"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.hink.hinkling.Login" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Call_camera"
            android:label="@string/title_activity_call_camera" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="standard"
            android:permission="com.hink.hinkling.LAUNCHACTIVITY"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.hink.hinkling.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PRound1"
            android:label="@string/title_activity_pround1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PRound2"
            android:label="@string/title_activity_pround1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameSession"
            android:label="@string/title_activity_game_session"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Audio"
            android:label="@string/title_activity_audio"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyPlaybackService"
            android:label="@string/title_activity_my_playback_service"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Round"
            android:label="@string/title_activity_round"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RoundOne"
            android:label="@string/title_activity_round_one"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PreGameSession"
            android:label="@string/title_activity_pre_game_session"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PlayerSearch"
            android:label="@string/title_activity_player_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SMRoundOne"
            android:label="@string/title_activity_smround_one"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Loser"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:permission="com.hink.hinkling.LAUNCHACTIVITY"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.hink.hinkling.Loser" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EndGameSession"
            android:label="@string/title_activity_end_game_session"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Subject"
            android:label="@string/title_activity_subject"
            android:permission="com.hink.hinkling.LAUNCHACTIVITY"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.hink.hinkling.Subject" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameOne"
            android:label="@string/title_activity_game_one"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewProfile"
            android:label="@string/title_activity_view_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CreateProfile"
            android:label="@string/title_activity_create_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Chat"
            android:label="@string/title_activity_chat"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsDialog"
            android:label="@string/title_activity_settings_dialog"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name=".SMSelect"
            android:label="@string/title_activity_smselect"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SMGameSession"
            android:label="@string/title_activity_smgame_session"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PlayerGameSession"
            android:label="@string/title_activity_player_game_session"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PlayerWaiting"
            android:label="@string/title_activity_player_waiting"
            android:permission="com.hink.hinkling.LAUNCHACTIVITY"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.hink.hinkling.PlayerWaiting" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Hinkalize"
            android:label="@string/title_activity_security"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".WelcomeSM"
            android:label="@string/title_activity_welcome_sm"
            android:permission="com.hink.hinkling.LAUNCHACTIVITY"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.hink.hinkling.WelcomeSM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScreenClearMiniGame"
            android:label="@string/title_activity_screen_clear_mini_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".chat.GuestbookActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_chat" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.IntroductionActivity"
            android:parentActivityName=".chat.GuestbookActivity"
            android:screenOrientation="portrait" >

            <!-- If you use the Android SDK 15 or less, the attributes android:parentActivityName doesn't work -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hink.hinkling.chat.GuestbookActivity" />
        </activity>
        <activity
            android:name=".SMWaiting"
            android:label="@string/title_activity_smwaiting" >
        </activity>

        <service android:name=".backend.GCMIntentService" />

        <receiver
            android:name=".backend.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </receiver>

        <service android:name=".backend.GCMIntentService" />
        <service android:name=".GCMIntentService" />

        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Reflex"
            android:label="@string/title_activity_reflex"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RoundTwo"
            android:label="@string/title_activity_round_two"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RoundThree"
            android:label="@string/title_activity_round_three"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RunnerJump"
            android:label="@string/title_activity_runner_jump"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PRound3"
            android:label="@string/title_activity_pround3" >
        </activity>
        <activity
            android:name=".InfoScreenClear"
            android:label="@string/title_activity_info_screen_clear" >
        </activity>
        <activity
            android:name=".JumpGame"
            android:label="@string/title_activity_jump_game" >
        </activity>
        <activity
            android:name=".InfoReflex"
            android:label="@string/title_activity_info_reflex" >
        </activity>
        <activity
            android:name=".InfoJumper"
            android:label="@string/title_activity_info_jumper" >
        </activity>
        <activity
            android:name=".Winner"
            android:label="@string/title_activity_winner" >
        </activity>
         <activity
            android:name=".DroidRunJumpActivity"
            android:label="@string/title_activity_winner" >
        </activity>
    </application>

</manifest>